<template>
  <div>
		<div class="background">
				<!-- 头部 -->
				<div class="head">
					<div class="head-left">
						<div class="headleft_portrait">
							<open-data type='userAvatarUrl'></open-data>
						</div>
						<div class="headleft_text">
							<div class="nickname">
								<!-- {{Nickname}} -->
								<open-data type="userNickName"></open-data>
							</div>
							<div class="nickname_text" v-if="NickID != ''">
								ID：{{NickID}}
							</div>
						</div>
					</div>
				</div>
				<!-- 提现 -->
				<div class="cash">
					<div class="cash-left">
						<div class="jine">{{money}}</div>
						<div class="yue">余额</div>
					</div>
					<div class="cash-right" @click="tixian">
						领取
						<form @submit="formSubmit" report-submit="true">
							<button form-type='submit'></button>
						</form>
						<form @submit="formSubmit" report-submit="true">
							<button open-type="contact" v-if="kefushow" form-type='submit'></button>
						</form>
					</div>
				</div>
		</div>
		
		<!-- 联系客服 -->
		<div class="customerservice">
			<div>联系客服</div>
			<div>></div>
			<button open-type="contact"></button>
		</div>
		<!-- 投诉建议 -->
		<div class="customerservice">
			<div>投诉建议</div>
			<div>></div>
			<button open-type="feedback"></button>
		</div>
		<!-- 提现说明 -->
		<div class="shuoming">
			<div class="shuoming-one">领取说明</div>
			<div class="shuoming-two">1.满50即可领取</div>
			<div class="shuoming-two">2.联系客服领取申请成功后，如遇到领取失败，请再次联系客服处理</div>
		</div>
		<ad unit-id="adunit-5732780cbe127a13"></ad>
		<!-- 弹窗 -->
		<div class="tanchuang" catchtouchmove=”preventTouchMove” v-if="tanshow">
			<cards @showbox="toshow" @xiayiti="nextquestion" :text="text" :tan_xiashow="tan_xiashow"></cards>
		</div>
	</div>
</template>

<script>
import sdk from '@/utils/sdk.js'
import api from '@/utils/api.js'
import request from '@/utils/request.js'
import cards from '@/components/card.vue'
export default {
  components: {
		cards
	},

  data () {
    return {
			tanshow:false, // 温馨提示 是否显示
			money:0, // 余额
			kefushow:false, // 提现时 客服按钮是否显示
			// Nickname:'幸运用户', //用户昵称
			NickID:'',  //用户ID

			text:'',  //弹窗的文案
			tan_xiashow:false, //弹窗中的下一题是否显示
    }
  },
	methods:{
		// 收集formid
		formSubmit(e){
			request.post({
				url:api.create,
				data:{
					token:wx.getStorageSync('token'),
					formid:e.mp.detail.formId
				}
			}).then((res)=>{})
		},
		// 弹窗出现时禁止滑动页面
		preventTouchMove:function(e) {},
		// 提现
		tixian(){
			if(parseInt(this.money) < 50){
				this.tanshow = true;
				this.text = '余额满50，可领取';
				this.tan_xiashow = false;
			}
		},
		// 取消弹窗
		toshow(){
			this.tanshow = false;
		},
		// quxiao(){
		// 	this.tanshow = false;
		// }
	},
	onLoad(options){
		console.log(options)
		this.money = options.money;
		this.tanshow = false;
		if(wx.getStorageSync('name') != ''){
			// this.Nickname = wx.getStorageSync('name');
			this.NickID = wx.getStorageSync('invite_code');
		}
		if(parseInt(options.money)>50){
			this.kefushow = true;
		}else{
			this.kefushow = false;
		}
	},
	onShow(){
		
	}
}
</script>
<style>
page{
	widows: 100%;
	height: 100%;
	overflow: hidden;
}
</style>
<style scoped lang="scss">
// 弹窗
	.tanchuang{
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.5);
	  position: absolute;
	  left: 0px;
	  top: 0px;
    }
.background{
	background: #fef3e6;
	width: 100%;
	height: 200px;
}
	// 头部
	.head{
		position: relative;
		background: #9640F8;
		height: 150px;
		border-bottom-right-radius:50px; 
		border-bottom-left-radius:50px; 
	}
	.head-left{
		display: flex;
		padding-top: 20px;
		margin-left: 10px;
	}
	.headleft_portrait{
		width: 64px;
		height: 64px;
		border-radius: 50%;
		overflow: hidden;
	}
	.headleft_text{
		font-size: 17px;
		left: 10px;
		color: white;
		margin-left: 10px;
		.nickname{
			width: 100px;
			margin-bottom: 18px;
			overflow:hidden; 
			text-overflow:ellipsis;
			display:-webkit-box; 
			-webkit-box-orient:vertical;
			-webkit-line-clamp:1; 
		}
	}
	// 提现
	.cash{
		width: 90%;
		height: 70px;
		background: white;
		border-radius: 10px;
		position: absolute;
		left: 5%;top: 110px;
		display: flex;
		justify-content: space-between;
		box-sizing: border-box;
		padding: 0px 20px;
		align-items: center;
		.jine{
			font-size: 20px;
			color: red;
		}
		.yue{
			font-size: 10px;
		}
		.cash-right{
			width: 60px;
			height: 35px;
			border-radius: 5px;
			background: #9640F8;
			color: white;
			text-align: center;
			line-height: 35px;
			font-size: 18px;
			position: relative;
			button{
				width: 100%;
				height: 100%;
				opacity: 0;
				position: absolute;
				left: 0px;
				top: 0px;
			}
		}
	}
	// 联系客服
	.customerservice{
		width: 100%;
		height: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-sizing: border-box;
		padding: 0px 20px;
		font-size: 18px;
		position: relative;
		border-bottom: 2px solid #f2f2f2;
		button{
			width: 100%;
			height: 100%;
			opacity: 0;
			position: absolute;
			left: 0px;
			top: 0px;
		}
	}
	.shuoming{
		box-sizing: border-box;
		margin-top: 10px;
		padding: 0px 20px;
		.shuoming-one{
			font-weight: 700;
			font-size: 20px;
			margin-bottom: 5px;
		}
		.shuoming-two{
			font-size: 16px;
			color: #999;
			margin-bottom: 5px;
		}
	}
	// 广告
	// ad{
	// 	position: fixed;
	// 	bottom: 0px;
	// 	left: 0px;
	// }
</style>
