<template>
  <div v-if="bodyshow">

		<!-- 头部 -->
			<div class="head">
				<div class="head-left">
					<div class="headleft_portrait">
						<open-data type='userAvatarUrl'></open-data>
					</div>
					<div class="headleft_text">
						<div class="nickname">
							<open-data type="userNickName"></open-data>
						</div>
						<div class="nickname_text" @click="cash()">
							<span class="price">{{monery}}</span>
							<span class="tixian" v-if="cashing">可领取 > </span>
						</div>
					</div>
				</div>
				<swiper  autoplay="true" interval="2000" duration="2000" vertical="true" circular="true">
					<block v-for="(item,index) in urls" :key='index' >	
					<swiper-item>
						<div class="swiperitem-one">{{item.nick_name}}</div>
						<div class="swiperitem-two">已领取{{item.cost}}</div>
					</swiper-item>
					</block>
				</swiper>
			</div>

			<!-- content -->
			<div class="content">
				<div class="zhuanqianle">
					<img src="../../../static/images/zhuanqianle.png" alt="">
				</div>
				<!-- 投诉 -->
				<div class="complaint">
					<img src="../../../static/images/tousu.png" alt="">
					<form @submit="formSubmit" report-submit="true">
						<button open-type="feedback" form-type='submit'>投诉</button>
					</form>
				</div>
				<!-- 分享好友 -->
				<div class="share">
					<img src="../../../static/images/kaokaohaoyou.png" alt="">
					<form @submit="formSubmit" report-submit="true" v-if="datalist.length == 0">
						<button @click="chu" form-type='submit'>分享好友</button>
					</form>
					<form @submit="formSubmit" report-submit="true" v-if="datalist.length != 0 && versionnumber == true"
					@click="Performtasks(datalist[0].play_sleep_time,datalist[0].id,datalist[0].is_completed,datalist[0].button_action,false,1005)">
						<button  form-type='submit'>分享好友</button>
					</form>
				</div>
				<!-- 立即领取 -->
				<div class="tograntauthorization" @click="receive">
					<img src="../../../static/images/lingquhongbao.png" alt="">
				</div>
				<!-- 倒计时 -->
				<div class="times">{{next_receive_at}}</div>
			</div>

		<!-- 立即答题 -->
		<div class="num" @click="toshow" >剩余答题卡：{{answercard}} <span><img src="../../../static/images/tiaoliebiao.png" alt=""></span></div>
		<div class="dati">
			<img src="../../../static/images/lijidati.png" alt="">
			<!-- 不要授权 -->
			<form @submit="formSubmit" report-submit="true" v-if="Tograntauthorization == false">
				<button  form-type='submit' class="tograntauthorization_two"  @click="dati">立即答题</button>
			</form>
			<!-- 要授权 -->
			<form @submit="formSubmit" report-submit="true" v-if="Tograntauthorization">
				<button  open-type="getUserInfo" 
				@getuserinfo="tograntauthorization" form-type='submit'>立即领取</button>
			</form>
		</div>
		<div class="dati" v-if="versionnumber == true">
			<img src="../../../static/images/fengxiang.png" alt="">
			<form @submit="formSubmit" report-submit="true">
				<button class="share_two" @click="chu" form-type='submit'>考考好友</button>
			</form>
		</div>

		<ad v-if="mpad" unit-id="adunit-5e703daeec1f499b"></ad>
		<!-- 我的好友 -->
		<div class="mygood-friend" v-if="versionnumber == true">
			<img src="../../../static/images/wodehaoyou.png" alt="">
			<div>邀请{{invite_num}}位好友</div>
		</div>
		<scroll-view scroll-y="true" class="scrollview" v-if="versionnumber == true">
				<div v-for="(item, index) in invite_urls" :key="index">
					<img :src="item.avatar_url" alt="">
				</div>
				<div class="mygood-friend-share"> 
					<img src="../../../static/images/tianjiahaoyou.png" alt="">
					<form @submit="formSubmit" report-submit="true">
						<button @click="chu" form-type='submit'>分享</button>
					</form>
				</div>
		</scroll-view>

		<!-- 领取答题卡 -->
		<div class="mygood-friend" v-if="task_list.length != 0 && taskList == true">
			<img src="../../../static/images/wodehaoyou.png" alt="">
			<div>领取答题卡</div>
		</div>

		<!-- 任务列表 -->
		<div class="tasklistwang" v-if="task_list.length != 0 && taskList == true">
			<div  v-for="(item,index) in task_list" :key="index" >
				<div class="tasklist-one" @click="Performtasks(item.play_sleep_time,item.id,item.is_completed,item.button_action,false,1001)">
					<!-- 任务图标 -->
					<div class="tasklist-left">
						<img :src="item.icon" alt="">
					</div>
					<!-- 任务描述 -->
					<div class="tasklist-center">
						<div class="tasklist-center-title">{{item.title}}</div>
						<div class="tasklist-center-desc">{{item.desc}}</div>
					</div>
					<!-- 任务按钮 -->
					<div class="tasklist-right">
						<div class="tasklist-right-img">
							<img src="../../../static/images/hong-bao.png" alt="">
						</div>
						<div v-if='item.is_completed == 0' class="tasklist-right-text">立即领取</div>
						<div v-if='item.is_completed == 1' class="tasklist-right-texts">已领取</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 弹窗 -->
		<div class="tanchuang" catchtouchmove="preventTouchMove" v-if="tanshow">
			<cards @showbox="toshow" @dati="dati" :text='text' :tan_xiashow="tan_xiashow" :qudati="qudati"></cards>
		</div>

		<!-- 领取答题卡时未到领取时间的弹窗 -->
		<div class="tanchuang_cuowu" catchtouchmove="preventTouchMove" v-if="bulletwindowquestions">
			<div class="text">
				<div class="text-one">答题卡未到领取时间</div>
				<div class="text-two">
					<div class="enen" v-if="datalist.length == 0">
						<img src="../../../static/images/ku.png" alt="">
					</div>
					<div class="huidu" v-if="versionnumber && datalist.length != 0"></div>
					<!-- 任务列表 -->
					<div class="tasklist" v-if="versionnumber && datalist.length != 0">
							<div class="tasklist-one" @click="Performtasks(datalist[0].play_sleep_time,datalist[0].id,datalist[0].is_completed,datalist[0].button_action,false,1005)">
								<!-- 任务图标 -->
								<div class="tasklist-left">
									<img :src="datalist[0].icon" alt="">
								</div>
								<!-- 任务描述 -->
								<div class="tasklist-center">
									<div class="tasklist-center-title">{{datalist[0].title}}</div>
									<div class="tasklist-center-desc">{{datalist[0].desc}}</div>
								</div>
								<!-- 任务按钮 -->
								<div class="tasklist-right">
									<div class="tasklist-right-img">
										<img src="../../../static/images/hong-bao.png" alt="">
									</div>
									<div v-if='datalist[0].is_completed == 0' class="tasklist-right-text">立即领取</div>
									<div v-if='datalist[0].is_completed == 1' class="tasklist-right-texts">已领取</div>
								</div>
						</div>
					</div>
					<!-- 下一题 -->
				<div class="xiayi" 
				@click="Performtasks(datalist[0].play_sleep_time,datalist[0].id,datalist[0].is_completed,datalist[0].button_action,false,1005)"
				v-if="versionnumber && datalist.length != 0">领取答题卡</div>
				</div>
				
			</div>
			<!-- 取消 -->
			<div class="quxiao" @click="open">
				<img src="../../../static/images/guanbi.png" alt="">
			</div>
		</div>

		<!-- 新人红包-->
		<div class="tanchuang_zhengque" catchtouchmove="preventTouchMove" v-if="Nicknametanchuang">
			<div class="User_windowsone" style="background-image: url('https://st.fcadx.cn/45fb3427047ae4a2cdf1da47d1b3e44e.png');">
				<div class="User_jine">{{monery}}</div>
				<div class="User_ka" v-if="versionnumber && newredenvelope.length != 0">奖励翻倍，还送答题卡</div>
				<!-- 任务列表 -->
				<div class="tasklist" v-if="versionnumber && newredenvelope.length != 0">
						<div class="tasklist-one" 
						@click="Performtasks(newredenvelope[0].play_sleep_time,newredenvelope[0].id,newredenvelope[0].is_completed,newredenvelope[0].button_action,true,1002)">
							<!-- 任务图标 -->
							<div class="tasklist-left">
								<img :src="newredenvelope[0].icon" alt="">
							</div>
							<!-- 任务描述 -->
							<div class="tasklist-center">
								<div class="tasklist-center-title">{{newredenvelope[0].title}}</div>
								<div class="tasklist-center-desc">{{newredenvelope[0].desc}}</div>
							</div>
							<!-- 任务按钮 -->
							<div class="tasklist-right">
								<div class="tasklist-right-img">
									<img src="../../../static/images/hong-bao.png" alt="">
								</div>
								<div v-if='newredenvelope[0].is_completed == 0' class="tasklist-right-text">立即领取</div>
								<div v-if='newredenvelope[0].is_completed == 1' class="tasklist-right-texts">已领取</div>
							</div>
					</div>
				</div>
				<!-- 立即翻倍 -->
				<div class="lijifanbie" v-if='newredenvelope.length != 0 &&newredenvelope[0].is_completed == 0 && versionnumber == true '
				@click="Performtasks(newredenvelope[0].play_sleep_time,newredenvelope[0].id,newredenvelope[0].is_completed,newredenvelope[0].button_action,true,1002)">
					<img src="../../../static/images/lijifanbie.png" alt="">
				</div>
				<!-- 确认领取 -->
				<div class="lijiqueren" @click="dati" v-if='newredenvelope.length == 0 || newredenvelope[0].is_completed == 1'>
					<img src="../../../static/images/lijiqueren.png" alt="">
				</div>
			</div>
			<div class="quxaio" @click="quxiao">
				<img src="../../../static/images/guanbi.png" alt="">
			</div>
		</div>

		<!-- 任务列表-抽屉 -->
		<div class="geng_chu" @click="drawershow" v-if="taskDrawer">
			<img src="../../../static/images/geng_chu.png" alt="">
		</div>

		<div class="tanchuang_drawer" catchtouchmove="preventTouchMove" v-if="task_drawer">
			<div class="drawer">
				<scroll-view scroll-y="true" class="scroll-one">
				<div class="demo">试玩得答题卡</div>
				<div class="xian"></div>
				<div class="renwu-list">
					<div v-for="(item,index) in task_list" :key="index">
						<div class="list" 
						@click="Performtasks(item.play_sleep_time,item.id,item.is_completed,item.button_action,false,1001)">
							<div class="list-img">
								<img :src="item.icon" alt="" class="img-one">
								<img v-if='item.is_completed == 1' src="../../../static/images/yilingqu.png" alt="" class="img-two">
							</div>
							<div class="text">{{item.title}}</div>
						</div>
					</div>
				</div>
				</scroll-view>
			</div>
			<!-- 进去的图标 -->
			<div class="geng_jin" @click="drawerhide">
				<img src="../../../static/images/geng_jin.png" alt="">
			</div>
		</div>
		
		<!-- 分享 -->
		<div class="tanchuang_haoyou" catchtouchmove="preventTouchMove" v-if="haoyou">
			<div>
				<img src="../../../static/images/jianjie.png" alt="">
				<div class="btn" @click="feng"></div>
			</div>
		</div>

	</div>
</template>

<script>
const app = getApp();
import sdk from '@/utils/sdk.js'
import api from '@/utils/api.js'
import request from '@/utils/request.js'
import cards from '@/components/card.vue'
import '@/utils/answerpage.scss'
var timer  // 领取答题卡时间的倒计时
var timetogoout = 0  //出去小程序的时间
var timetocomein = 0 //进入其他小程序需要停留时间
var Whethertogoout = false// 是否出去过
var qitaid = 0 // 其他小程序的id
var Fromthebulletwindow = false //是否是从弹窗出去进入其他小程序的
var t_imer
export default {
  data () {
    return {
			urls:[],
			result:[],
			monery:'0.0000',      //余额
			answercard:0,  //答题卡的数量
			invite_num:0,  //邀请好友数量
			invite_urls:[], // 邀请好友的头像数组
			referrer_code:'', //	邀请码
			next_receive_at:'可领取', // 可领取答题卡的时间
			daojishi:0,  // 领取倒计时
			tanshow:false, //弹窗是否显示
			tan_xiashow:false, //弹窗中的下一题是否显示
			text:'答题卡已用完',
			Nicknametanchuang:false, //新用户弹窗是否显示
			bodyshow:false,  //页面是否显示
			task_list:[],   // 任务列表
			versionnumber:false,// 当前版本号
			// 监测
			source:0,      //用户来源-0:自然用户 2:广告买量 3:接受邀请
			media:'', // 表示在广告买量的情况下的来源
			datalist:[], // 答题卡未到领取时间的弹窗任务列表
			bulletwindowquestions:false, //答题卡未到领取时间的弹窗任务列表 是否显示
			Tograntauthorization:false, //授权是否显示

			newredenvelope:[],// 新人红包的任务列表
			mpad:false, //mp 广告是否显示

			// 任务抽屉是否显示 审核
			taskDrawer:false,
			// 任务抽屉是否显示
			task_drawer:false,			
			// 任务列表是否显示
			taskList:false,

			haoyou:false,
			cashing:false, // 跳提现页面是否隐藏
    }
  },
  components: {
	  cards
  },
  methods: {
		// 任务抽屉 事件
		drawershow(){
			this.task_drawer = true;
		},
		drawerhide(){
			this.task_drawer = false;
		},
		// 分享
		chu(){
			this.haoyou = true;
		},
		feng(){
			this.haoyou = false;
			var arr=[];
				arr.push('https://st.fcadx.cn/4f84b4922f4f56d9ed7b3716d8221372.jpg')
				wx.previewImage({
					urls: arr,
					success(){}
				})
		},
		// 收集formid
		formSubmit(e){
			request.post({
				url:api.create,
				data:{
					token:wx.getStorageSync('token'),
					formid:e.mp.detail.formId
				}
			}).then((res)=>{})
		},
		// 授权
		tograntauthorization(e){
				let that = this;
				wx.getSetting({
					success(res) {
						if(res.authSetting['scope.userInfo'] == true){
								sdk.log_ing({
								url:api.login,
								appid:api.appid,
								source:that.source,
								referrer_code:that.referrer_code,
							}).then(()=>{
								that.dati()
							})
						}else{
							that.dati()
						}
					}
				})
		},
		// 获取答题卡
		receive(){
			if(this.daojishi < new Date().getTime()/1000){
				request.post({
				url:api.receive,
				data:{
					token:wx.getStorageSync('token')
				}
			}).then((res)=>{
				if(res.code == 200){
					this.answercard = this.answercard + 5;
					let dangqian = new Date().getTime()/1000;
					let timess = res.data.next_receive_at;
					this.daojishi = res.data.next_receive_at;
					// 弹窗 已领取答题卡的提醒
					this.tanshow = true;
					this.qudati = true;
					this.text = '已成功领取答题卡！';
					// 弹窗 已领取答题卡的提醒
					if(dangqian < timess){
						timer = setInterval(()=>{
							if((this.daojishi-new Date().getTime()/1000) > 0){
								this.next_receive_at = sdk.formatSeconds(this.daojishi-new Date().getTime()/1000)
							}else{
								clearInterval(timer);
								this.next_receive_at = '领取答题卡'
							}
						}, 1000);
					}else{
						this.next_receive_at = '领取答题卡'
					}
				}
			})
			}else{
					this.bulletwindowquestions = true;
				}
		},
		// 去答题
		dati(){
			app.aldstat.sendEvent("答题", {type: "去答题"});
			if(this.answercard == 0){
				this.tanshow = true;
				this.qudati = false;
				this.text = '答题卡已用完';
			}else{
				this.Nicknametanchuang = false;
				clearInterval(timer)
				wx.navigateTo({
					url: '../answerpage/main?answercard='+this.answercard+"&md="+this.media+"&sc="+this.source
				})
			}
		},
		// 获取数据
		getdata_log(){
			sdk.log_ing({
					url:api.login,
					appid:api.appid,
					source:this.source,
					referrer_code:this.referrer_code,
			}).then(()=>{
				request.get({
						url:api.profile,
						data:{
							token:wx.getStorageSync('token')
						}
					}).then((res)=>{
						this.invite();
						if(res.data.balance.length == 0){
							this.monery = '0.0000';
						}else{
							this.monery = res.data.balance;
						}
						this.answercard = res.data.card_num;
						this.invite_num = res.data.invite_num;
						let dangqian = new Date().getTime()/1000;
						let timess = res.data.next_receive_at;
						this.daojishi = res.data.next_receive_at;
						if(dangqian < timess){
							timer = setInterval(()=>{
								if(this.daojishi-new Date().getTime()/1000 > 0){
									this.next_receive_at = sdk.formatSeconds(this.daojishi-new Date().getTime()/1000)
								}else{
									clearInterval(timer);
									this.next_receive_at = '领取答题卡'
								}
							}, 1000)
						}else{
							this.next_receive_at = '领取答题卡'
						}
						if(wx.getStorageSync('is_new') == true){
							this.Nicknametanchuang = true;
						}
						// 任务列表
						this.renwulist();
						this.newred_envelope();
					})
			})
		},
		// 获取数据 不走login
		getdata(){
			request.get({
				url:api.profile,
				data:{
					token:wx.getStorageSync('token')
				}
			}).then((res)=>{
				this.invite();
				if(res.data.balance.length == 0){
					this.monery = '0.0000';
				}else{
					this.monery = res.data.balance;
				}
				this.answercard = res.data.card_num;
				this.invite_num = res.data.invite_num;
				let dangqian = new Date().getTime()/1000;
				let timess = res.data.next_receive_at;
				this.daojishi = res.data.next_receive_at;
				if(dangqian < timess){
					timer = setInterval(()=>{
						if(this.daojishi-new Date().getTime()/1000 > 0){
							this.next_receive_at = sdk.formatSeconds(this.daojishi-new Date().getTime()/1000)
						}else{
							clearInterval(timer);
							this.next_receive_at = '领取答题卡'
						}
					}, 1000)
				}else{
					this.next_receive_at = '领取答题卡'
				}
				// 任务列表
				this.renwulist()
			})
		},
		// 弹窗出现时禁止滑动页面
		preventTouchMove:function(e) {},
		// 取消弹窗
		toshow(){
			this.tanshow = false;
			wx.pageScrollTo({
				scrollTop: 1000,
				duration: 300,
			})
		},
		// 取消新用户弹窗
		quxiao(){
			let that = this;
			setTimeout(()=>{
					that.Nicknametanchuang = false;
				},sdk.GetRandomNum(0,1500))
		},
		// 取消未到领取时间的弹窗
		open(){
			let that = this;
			setTimeout(()=>{
				that.bulletwindowquestions = false;
			},sdk.GetRandomNum(0,1500))
		},
		// 去提现
		cash(){
			wx.navigateTo({
				url: '../cash/main?money='+this.monery
			})
		},
		// 新人红包的任务列表
		newred_envelope(){
			request.post({
				url:api.index,
				data:{
					token:wx.getStorageSync('token'),
					app_id:api.appid,
					type:0,
					adp_code:1000
				}
			}).then((res)=>{
				if(res.code == 200){
					wx.setStorageSync('newredenvelope', res.data);
					this.newredenvelope = wx.getStorageSync('newredenvelope');
				}
			})
		},
		// 新人红包的任务列表的状态改变
		newred_state(){
			this.$set(this.newredenvelope[0], 'is_completed', 1);
			wx.setStorageSync('newredenvelope', this.newredenvelope);
		},
		// 任务列表
		renwulist(){
			request.post({
				url:api.index,
				data:{
					token:wx.getStorageSync('token'),
					app_id:api.appid,
					type:0,
					adp_code:1000
				}
			}).then((res)=>{
				if(res.code == 200){
					this.task_list = res.data;
					this.datalist = [...res.data];
					for(var i=0;i<this.datalist.length;i++){
						if(Number(this.datalist[i].is_completed) == 1){
							this.datalist.splice(i, 1);
							i--;
						}
					}
				}
			})
		},
		// 执行任务时的监测
		Taskmonitoring(event,id,adpcode){
			let tms = '';
			let date = new Date();
			var y = date.getFullYear(),
			m = (date.getMonth()+1),
			d = date.getDate(),
			h = date.getHours();
			let nowDate = tms + y + (m<10? "0"+m : m) + (d<10? "0"+d : d) + (h<10? "0"+h : h);
			request.get({
				url:api.jiance,
				data:{
					name:api.appid,
					page:'index',
					event:event,
					source:this.source,
					media:this.media,
					object:'ad_' + id,
					user:wx.getStorageSync('invite_code'),
					tms:nowDate,
					ver:api.versionnumber,
					adpcode:adpcode
				}
			}).then((res)=>{})
		},
		// 执行任务
		Performtasks(time,id,is_completed,button_action,Fromthewindow,adpcode){
			if(Fromthewindow == true){
				Fromthebulletwindow = true;
			}
			this.Taskmonitoring('clk',id,adpcode)
			let that = this;
			if(is_completed == 0 ){
				let t = /(\w+):\/\/(\w+)([\w\/]*)[\?]?([\w=&\.%-]*)[#]?([\w]*)/.exec(button_action)
				if(t[4] == ''){
					var path = t[3]
				}else{
					var path = t[3] +'?'+ t[4]
				}
				if(t[1] == 'pic'){
					var arr=[];
					let en = decodeURIComponent(t['input'].slice(6));
					arr.push(en)
					wx.previewImage({
						urls: arr,
						success(){
							app.aldstat.sendEvent("广告点击", {type: "图片appid"});
							timetogoout = new Date().getTime()/1000;
							timetocomein = time;
							Whethertogoout = true;
							qitaid = id;
							that.Taskmonitoring('submit',id,adpcode)
						}
					})
				}else{
					wx.navigateToMiniProgram({
						appId: t[2],
						path: path,
						success(res) {
							app.aldstat.sendEvent("广告点击", {type: "允许"});
							timetogoout = new Date().getTime()/1000;
							timetocomein = time;
							Whethertogoout = true;
							qitaid = id;
							that.Taskmonitoring('submit',id,adpcode)
						},
						fail(){
							app.aldstat.sendEvent("广告点击", {type: "取消"});
							that.Taskmonitoring('cancel',id,adpcode)
						}
					})
				}
			}else{
				let t = /(\w+):\/\/(\w+)([\w\/]*)[\?]?([\w=&\.%-]*)[#]?([\w]*)/.exec(button_action)
				if(t[4] == ''){
					var path = t[3]
				}else{
					var path = t[3] +'?'+ t[4]
				}
				if(t[1] == 'pic'){
					var arr=[];
					let en = decodeURIComponent(t['input'].slice(6));
					arr.push(en)
					wx.previewImage({
						urls: arr,
						success(){
							app.aldstat.sendEvent("广告点击", {type: "图片appid"});
							that.Taskmonitoring('submit',id,adpcode)
						}
					})
				}else{
					wx.navigateToMiniProgram({
						appId: t[2],
						path: path,
						success(res) {
							app.aldstat.sendEvent("广告点击", {type: "允许"});
							that.Taskmonitoring('submit',id,adpcode)
						},
						fail(){
							app.aldstat.sendEvent("广告点击", {type: "取消"});
							that.Taskmonitoring('cancel',id,adpcode)
						}
					})
				}
			}
		},
		// 任务完成提交
		Missionaccomplished(){
			request.post({
				url:api.completed,
				data:{
					token:wx.getStorageSync('token'),
					ad_id:qitaid,
					adp_code:1234
				}
			}).then((res)=>{
				if(res.code == 200){
					wx.showToast({
						title: '加载中',
						icon:'loading',
						duration:1000,
						mask:true,
					});
					this.getdata()
				}
			})
		},
		// 获取分享配置函数
		config(){
			request.get({
				url:api.config,
				data:{
					version:api.versionnumber,
					appid:api.appid,
					token:wx.getStorageSync('token')
				}
			}).then((res)=>{
				if(res.code == 200){
					this.urls = JSON.parse(res.data.win);
					this.result = JSON.parse(res.data.share);
					if(res.data.shareing == 'false'){
						this.versionnumber = false;
					}else{
						this.versionnumber = true;
					}
					if(res.data.auth == 'false'){
						this.Tograntauthorization = false;
					}else{
						this.Tograntauthorization = true;
					}
					if(res.data.mpad == 'false'){
						this.mpad = false;
					}else{
						this.mpad = true;
					}
					if(res.data.drawer == 'false'){
						this.taskDrawer = false;
					}else{
						this.taskDrawer = true;
					}
					if(res.data.ownad == 'false'){
						this.taskList = false;
					}else{
						this.taskList = true;
					}
					if(res.data.cashing == 'false'){
						this.cashing = false;
					}else{
						this.cashing = true;
					}
				}
			})
		},
		// 邀请的好友的列表
		invite(){
			request.get({
				url:api.invite,
				data:{
					token:wx.getStorageSync('token')
				}
			}).then((res)=>{
				if(res.code == 200){
					if(res.data.invite_num != 0){
						this.invite_urls = res.data.data
					}
				}
			})
		},
		// 金额翻倍的函数
		go(from){
				var step = from / 200;
				var to = from * 2;
				var i = 1;
				var o = setInterval(()=>{
						from += step;
						if (from > to) {
								from = to;
								clearInterval(o);
						}
						this.monery = from.toFixed(4);
						i++;
				}, 10)
		}
  },
	onLoad(options){
		console.log('onLoad')
		wx.setStorageSync('isfanhuishouye',false);
		wx.showToast({
			  title: '加载中',
			  icon:'loading',
			  duration:1000,
			  mask:true,
			});
		if(options.sc == undefined){
			this.source = 0;
		}else{
			this.source = options.sc;
		}
		if(options.md != undefined){
			this.media = options.md
		}
		if(options.invite_code !=undefined){
			this.referrer_code = options.invite_code
		}
		timetogoout = 0  //出去小程序的时间
		timetocomein = 0 //进入其他小程序需要停留时间
		Whethertogoout = false// 是否出去过
		qitaid = 0 // 其他小程序的id
		Fromthebulletwindow = false; //是否是从弹窗出去进入其他小程序的
		this.task_list = [];
		this.bodyshow = false;
		this.Nicknametanchuang = false;
		this.versionnumber = false;
		this.monery = '0.0000';
		this.answercard = 0;
		this.invite_urls =[];
		this.invite_num = 0;
		let that = this;
		that.getdata_log();
		setTimeout(()=>{
			that.bodyshow = true;
		},1500)
	},
		// 下拉刷新
	onPullDownRefresh(){
		this.getdata();
		wx.showToast({
				title: '加载中',
				icon:'loading',
				duration:1200,
				mask:true,
			});
		setTimeout(()=>{
			wx.stopPullDownRefresh()
			},1000)
    }, 
	onShow(){
			// console.log('onShow')
		this.tanshow = false;
		if(Whethertogoout == true){
			if(new Date().getTime()/1000 - timetogoout > timetocomein){
				// console.log('条件满足')
				if(Fromthebulletwindow == true && this.Nicknametanchuang == true){
					request.post({
							url:api.newuserdouble,
							data:{
								token:wx.getStorageSync('token')
							}
						}).then((res)=>{
							this.go(Number(this.monery));
							this.newred_state();
						})
				}
				Whethertogoout = false;
				this.Missionaccomplished()
			}else{
			// console.log('跳出时间不够')
				wx.showToast({
					title: '亲，需要授权体验'+ timetocomein +'秒才可领取哦',
					icon:'none',
					duration:1500,
					mask:true,
				});
				Whethertogoout = false;
				Fromthebulletwindow = false;
				this.getdata();
			}
		}else{
			// console.log('没有跳出')
			this.getdata();
		}
		this.config();
		if(wx.getStorageSync('isfanhuishouye') == true){
			wx.pageScrollTo({
				scrollTop: 1000,
				duration: 300,
				success(){
					wx.setStorageSync('isfanhuishouye', false)
				}
			})
		};
	},
	onHide(){
		clearInterval(timer)
	},
	onUnload(){
		clearInterval(timer)
	},
	// 分享
	onShareAppMessage(res){
		var num = sdk.GetRandomNum(0,this.result.length-1)
		app.aldstat.sendEvent("分享", {type: "分享好友获取"})
		return {
				title: this.result[num].title,
				imageUrl:this.result[num].img,
				path: '/pages/index/main?sc='+ 3 +'&invite_code='+ wx.getStorageSync('invite_code'),
		}
	},
}
</script>
<style lang="scss">
	page{
		background-image: url('https://st.fcadx.cn/5b543e618af739e975deedfc80efa93f.png');
		background-repeat:repeat;
		background-size: 100%;
	}
	.enen{
		margin: 60px auto 30px;
		width: 178px;
		height: 110px;
		img{
			width: 100%;
			height: 100%;
		}
	}
</style>
<style scoped lang="scss">
	// 头部
	.head{
		position: relative;
		overflow: hidden;
	}
	.head-left{
		display: flex;
		box-sizing: border-box;
		padding-top: 5px;
		padding-left: 10px;
	
	}
	.headleft_portrait{
		width: 64px;
		height: 64px;
		border-radius: 50%;
		overflow: hidden;
	}
	.headleft_text{
		font-size: 17px;
		margin-left: 10px;
		color: white;
		.nickname{
			width: 100px;
			margin-bottom: 15px;
			overflow:hidden; 
			text-overflow:ellipsis;
			display:-webkit-box; 
			-webkit-box-orient:vertical;
			-webkit-line-clamp:1; 
		}
		.price{
			color: #faee42;
		}
		.tixian{
			margin-left: 10px;
			font-size: 14px;
			color: #fff;
		}
	}
	// 右边 中奖数据
	swiper{
		position: absolute;
		top: 20px; 
		bottom: 0px;
		left: 239px;
		width: 135px;
		height: 31px !important;
		.swiperitem-one{
			width: 50px;
			height: 25px;
			z-index: 100 !important;
			position: absolute;
			font-size: 12px;
			color: white;
			line-height: 25px;
			margin-left: 5px;
		  overflow:hidden; 
		  text-overflow:ellipsis;
		  display:-webkit-box; 
		  -webkit-box-orient:vertical;
		  -webkit-line-clamp:1; 
		}
		.swiperitem-two{
			background: #000;
			opacity: 0.35;
			flex: 1;
			color: white;
			font-size: 12px;
			height: 25px;
			line-height: 25px;
			border-radius: 40px;
			padding-left: 55px;
			z-index: 2;
		}
	}
	// 按钮中间
	.content{
		width:100%;
		height: 162px;
		position: relative;
		.zhuanqianle{
			// width:154px;
			width:204px;
			height: 130px;
			margin: 0px auto;
			padding-top:10px;
			img{
				width:100%;
				height: 100%;
			}
		}
		// 投诉
		.complaint{
			width: 35.4px;
			height: 35.4px;
			position: absolute;
			top: 10px;
			right:24.4px;
			img{
				width:100%;
				height: 100%;
			}
			button{
				width:100%;
				height: 100%;
				position: absolute;
				top: 0px;
				left: 0px;
				opacity: 0; 
			}
		}
		// 戳我
		// 动画
		@keyframes share
		{
			0%   {top:104px;}
			50%  {top:114px;}
			100% {top:104px;}
		}
		.share{
			width: 68px;
			height: 68px;
			position: absolute;
			top: 104px;
			left: 16px;
			animation: share 2s infinite;
			img{
				width:100%;
				height: 100%;
			}
			button{
				width:100%;
				height: 100%;
				position: absolute;
				top: 0px;
				left: 0px;
				opacity: 0;
			}
		}
		// 领取答题卡
		// 动画
		@keyframes tograntauthorization
		{
			0%   {top:76.8px;}
			50%  {top:86.8px;}
			100% {top:76.8px;}
		}
		.tograntauthorization{
			width: 54.4px;
			height: 54.4px;
			position: absolute;
			top: 76.8px;
			right: 22.8px;
			animation: tograntauthorization 2s infinite;
			img{
				width:100%;
				height: 100%;
			}
			button{
				width:100%;
				height: 100%;
				position: absolute;
				top: 0px;
				left: 0px;
				opacity: 0;
			}
		}
		@keyframes times
		{
			0%   {top:131px;}
			50%  {top:141px;}
			100% {top:131px;}
		}
		.times{
			width: 93px;
			font-size: 13px;
			animation: times 2s infinite;
			position: absolute;
			top: 131px;
			right: 2px;
			color: #faee42;
			text-align: center;
		}
	}
	// 立即答题
	.num{
		width: 46%;
		font-size: 17px;
		text-align: center;
		color: white;
		margin: 15px auto;
		display: flex;
		align-items: center;
		text-align:center;
		span{
			display: inline-block;
			width:24px;
			height: 24px;
			margin-left:6px;
			img{
				width:100%;
				height: 100%;
			}
		}
	}
	.dati{
		width: 242.2px;
		height: 50px;
		margin: 5px auto 0px;
		position: relative;
		img{
			width: 100%;
			height: 100%;
		}
		button{
			width: 100%;
			height: 100%;
			opacity: 0;
			position: absolute;
			top: 0px;
			left: 0px;
		}
	}
	// 我的好友
	.mygood-friend{
		width: 100%;
		height: 36px;
		margin-top: 34px;
		position: relative;
		img{
			width: 100%;
			height: 100%;
		}
		div{
			width:100%;
			height: 100%;
			position: absolute;
			left:0px;
			top:0px;
			text-align:center;
			font-size: 17px;
			color: #17D58B;
			line-height: 36px;
		}
	}
	.scrollview {
		width: 355px;
		height: 117px !important;
    border-radius: 23.5px;
		margin: 0 auto;
		background-image: url("https://st.fcadx.cn/aa35fad0f9a0d770f3ee1e403538a9ae.png");
		background-size: 100%;
		div{
			float: left;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background: #07095B;
			overflow: hidden;
			margin: 35px 0px 0px 17px;
			img{
				width: 100%;
				height: 100%;
			}
		}
		.mygood-friend-share{
			position: relative;
			button{
				width: 100%;
				height: 100%;
				opacity: 0;
				position: absolute;
				left: 0px;
				top: 0px;
			}
		}
	}
	// 任务列表
	.tasklistwang{
		width: 355px;
		background-image: url("https://st.fcadx.cn/aa35fad0f9a0d770f3ee1e403538a9ae.png");
		background-size: 100%;
    border-radius: 23.5px;
		margin: 0 auto 20px;
		box-sizing: border-box;
		padding-bottom: 10px;
		.tasklist-one{
			width: 335px;
			height: 65px;
			margin: 0 auto;
			border-bottom: 1px solid #07095B;
			display: flex;
			padding: 5px 0px;
			align-items: center;
			.tasklist-left{
				width: 45px;
				height: 45px;
				border-radius: 5px;
				overflow: hidden;
				margin-right: 5px;
				margin-left: 5px;
				img{
					width: 100%;
					height: 100%;
				}
			}
			.tasklist-center{
				width: 220px;
				color: white;
				.tasklist-center-title{
					width: 100%;
					font-size: 16px;
					margin-bottom: 5px;
					overflow:hidden; 
					text-overflow:ellipsis;
					display:-webkit-box; 
					-webkit-box-orient:vertical;
					-webkit-line-clamp:1;
				}
				.tasklist-center-desc{
					width: 100%;
					font-size: 14px;
					color: #999;
					overflow:hidden; 
					text-overflow:ellipsis;
					display:-webkit-box; 
					-webkit-box-orient:vertical;
					-webkit-line-clamp:1;
				}
			}
			.tasklist-right{
				width: 55px;
				margin-left: 5px;
				.tasklist-right-img{
					width: 35px;
					height: 35px;
					overflow: hidden;
					margin-left: 8px;
					img{
						width: 100%;
						height: 100%;
					}
				}
				.tasklist-right-text{
					width: 100%;
					font-size: 12px;
					color: yellow;
					text-align: center;
				}
				.tasklist-right-texts{
					width: 100%;
					text-align: center;
					font-size: 12px;
					color: #999;
				}
			}
		}
	}
	// 弹窗
	.tanchuang{
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.5);
	  position: absolute;
	  left: 0px;
	  top: 0px;
		}
		// 新用户弹窗
		.lijifanbie{
			width: 163px;
			height: 43px;
			position: absolute;
			left: 65px;
			top: 318px;
			img{
				width:100%;
				height: 100%;
			}
		}
		.lijiqueren{
			width: 163px;
			height: 43px;
			position: absolute;
			left: 65px;
			top: 318px;
			img{
				width:100%;
				height: 100%;
			}
		}
	.quxaio{
			width: 41px;
			height: 60px;
			margin: auto;
			img{
				width: 100%;
				height: 100%;
			}
		}
</style>
