<template>
  <div>
    <div class="text">
      <div class="text-one">{{text}}</div>
      <div class="text-two">
        <div class="enen">
          <!-- <img src="../../static/images/ku.png" alt="">
          <img src="../../static/images/xiao.png" alt=""> -->
          <img :src="qudati ? '../../static/images/xiao.png' :'../../static/images/ku.png'" alt="">
        </div>
      </div>
      <!-- 下一题 -->
      <div v-if="tan_xiashow" class="xiayi" @click="xiayi">下一题</div>
      <!-- 返回首页 -->
      <div v-if="fanhuishouye" class="xiayi" @click="fanhui_shouye">返回首页</div>
      <!-- 去答题 -->
      <div v-if="qudati" class="xiayi" @click="qudati_S">去答题</div>
    </div>
    <!-- 取消 -->
    <div class="quxiao" @click="open">
      <img src="../../static/images/guanbi.png" alt="">
    </div>
  </div>
</template>

<script>
export default {
  props: {
    text:{type:String},
    tan_xiashow:{type:String},
    fanhuishouye:{type:String},
    qudati:{type:String}
  },
  methods: {
    xiayi(){
      this.$emit("xiayiti"); // 下一题题目的获取
    },
    open() {
      this.$emit('showbox',true); //触发showbox方法，true为向父组件传递的数据
    },
    fanhui_shouye(){
			wx.setStorageSync('isfanhuishouye', true)
      wx.navigateBack({
        delta: 2
      })
    },
    qudati_S(){
      this.$emit("dati"); // 下一题题目的获取
    },
}
}
</script>

<style scoped lang="scss">
    
    .text{
      width: 335px;
      background: #fff;
      border-radius: 5px;
      overflow: hidden;
      margin: 70px auto 0px;
      .text-one{
        width: 100%;
        height: 82px;
        background: #9640F8;
        color: white;
        font-size: 22px;
        text-align: center;
        line-height: 82px;
      }
      .text-two{
        width: 100%;
        background: #fff;
        .enen{
          margin: 60px auto 30px;
          width: 178px;
          height: 110px;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .xiayi{
      width: 200px;
      height: 54px;
      text-align: center;
      line-height: 54px;
      background: #9640F8;
      border-radius: 27px;
      font-size: 22px;
      color: white;
      margin: 0px auto 30px;
    }
    .quxiao{
      width: 41px;
      height: 60px;
      margin: auto;
      img{
        width: 100%;
        height: 100%;
      }
    }
</style>
