// 答对弹窗 && 任务有未完成的
.User_windowsone{
	width: 296px;
	height: 399px;
	background-image: url("https://st.fcadx.cn/0e3a458435fde18d5d7ddeabc0e17945.png");
	background-size: 100% 100%;
	margin: 70px auto 0px;
	color: #fff;
	position: relative;
	.User_jine{
		width: 140px;
		position: absolute;
		left: 82px;
		top: 110px;
		text-align: center;
		color: red;
		font-size: 30px;
	}
	.User_ka{
		position: absolute;
		left: 77px;
		top: 180px;
		text-align: center;
		font-size: 15px;
		color: #A50505;
	}
	.User_queren{
		width: 163px;
		height: 43px;
		position: absolute;
		opacity: 0;
		left: 65px;
		top: 318px;
		line-height: 40px;
		text-align: center;
	}
}
// 答对弹窗的任务列表
.tanchuang_zhengque{
	width: 100%;
	height: 100%;
	background: rgba($color: #000000, $alpha: 0.5);
	position: absolute;
	left: 0px;
	top: 0px;
	.tasklist{
		width: 216px;
		box-sizing: border-box;
		padding:0px 10px;
		position: absolute;
		top: 204px;
		left: 40px;
		.tasklist-one{
			height: 60px;
			display: flex;
			padding: 5px 0px;
			align-items: center;
			justify-content: space-between;
			.tasklist-left{
				width: 44px;
				height: 44px;
				border-radius: 5px;
				overflow: hidden;
				img{
					width: 100%;
					height: 100%;
				}
			}
			.tasklist-center{
				width: 72px;
				.tasklist-center-title{
					width: 100%;
					font-size: 13px;
					color: #3A3A3A;
					margin-bottom: 5px;
					overflow:hidden; 
					text-overflow:ellipsis;
					display:-webkit-box; 
					-webkit-box-orient:vertical;
					-webkit-line-clamp:1;
				}
				.tasklist-center-desc{
					width: 100%;
					font-size: 12px;
					color: #3A3A3A;
					overflow:hidden; 
					text-overflow:ellipsis;
					display:-webkit-box; 
					-webkit-box-orient:vertical;
					-webkit-line-clamp:1;
				}
			}
			.tasklist-right{
				width: 52px;
				.tasklist-right-img{
					width: 23px;
					height: 23px;
					overflow: hidden;
					margin: auto;
					img{
						width: 100%;
						height: 100%;
					}
				}
				.tasklist-right-text{
					width: 100%;
					font-size: 13px;
					color: #9640F8;
					text-align: center;
				}
				.tasklist-right-texts{
					width: 100%;
					text-align: center;
					font-size: 13px;
					color: #999;
				}
			}
		}
	}
}

	// <!-- 答题错误时的弹窗 -->
.tanchuang_cuowu{
	width: 100%;
	height: 100%;
	background: rgba($color: #000000, $alpha: 0.5);
	position: absolute;
	left: 0px;
	top: 0px;
	.text{
      width: 335px;
      background: #fff;
      border-radius: 5px;
      overflow: hidden;
      margin: 70px auto 0px;
      .text-one{
        width: 100%;
        height: 82px;
        background: #9640F8;
        color: white;
        font-size: 22px;
        text-align: center;
        line-height: 82px;
      }
      .text-two{
		width: 100%;
		height: 275px;
		background: #fff;
		.huidu{
			font-size: 17px;
			color: #9640F8;
			margin: auto;
			text-align: center;
			box-sizing: border-box;
			padding: 20px 0px 10px 0px;
		}
		// 任务列表
		.tasklist{
			width: 315px;
			background: #DAEAFF;
			box-sizing: border-box;
			padding:0px 10px;
			margin: 0 auto;
			.tasklist-one{
				height: 104px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				.tasklist-left{
					width: 64px;
					height: 64px;
					border-radius: 5px;
					overflow: hidden;
					img{
						width: 100%;
						height: 100%;
					}
				}
				.tasklist-center{
					width: 112px;
					.tasklist-center-title{
						width: 100%;
						font-size: 15px;
						color: #3A3A3A;
						margin-bottom: 5px;
						overflow:hidden; 
						text-overflow:ellipsis;
						display:-webkit-box; 
						-webkit-box-orient:vertical;
						-webkit-line-clamp:1;
					}
					.tasklist-center-desc{
						width: 100%;
						font-size: 15px;
						color: #3A3A3A;
						overflow:hidden; 
						text-overflow:ellipsis;
						display:-webkit-box; 
						-webkit-box-orient:vertical;
						-webkit-line-clamp:1;
					}
				}
				.tasklist-right{
					width: 60px;
					.tasklist-right-img{
						width: 23px;
						height: 23px;
						overflow: hidden;
						margin: auto;
						img{
							width: 100%;
							height: 100%;
						}
					}
					.tasklist-right-text{
						width: 100%;
						font-size: 15px;
						color: #9640F8;
						text-align: center;
					}
					.tasklist-right-texts{
						width: 100%;
						text-align: center;
						font-size: 15px;
						color: #999;
					}
				}
			}
		}
      }
    }
	.xiayi{
		width: 200px;
		height: 54px;
		text-align: center;
		line-height: 54px;
		background: #9640F8;
		border-radius: 27px;
		font-size: 22px;
		color: white;
		margin: 30px auto 30px;
	}
	.quxiao{
		width: 41px;
		height: 60px;
		margin: auto;
		img{
			width: 100%;
			height: 100%;
		}
	}
}
// 任务列表-抽屉
.geng_chu{
	width: 50px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 100px;
	img{
		width: 100%;
		height: 100%;
	}
}
.tanchuang_drawer{
	width: 100%;
	height: 100%;
	background: rgba($color: #000000, $alpha: 0.5);
	position: absolute;
	left: 0px;
	top: 0px;
	.geng_jin{
		width: 50px;
		height: 50px;
		position: absolute;
		left: 279.5px;
		top: 90px;
		z-index: 10;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.drawer{
		width: 286px;
		height: 300px;
		margin-top: 93px;
		background: rgba(0,0,0,0.60);
		border: 1px solid #FFFFFF;
		box-shadow: 0 2px 10px 0 rgba(255,220,55,0.50);
		border-radius: 8px;
		// scroll
		.scroll-one{
			height: 100%;
			.demo{
				font-size: 17px;
				color: #FFFFFF;
				text-align: center;
				padding: 20px 0px 9.5px 0px;
			}
			.xian{
				width: 255px;
				margin: auto;
				border: 1px solid #FFFFFF;
			}
			// 任务数组
			.renwu-list{
				width: 255px;
				margin: auto;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				.list{
					width: 65px;
					margin: 15px 0px;
					.list-img{
						width: 54px;
						height: 54px;
						margin: 0 auto;
						position: relative;
						.img-one{
							width: 100%;
							height: 100%;
						}
						.img-two{
							width: 100%;
							height: 100%;
							position: absolute;
							top: 0px;
							left: 0px;
						}
					}
					.text{
						margin-top: 5px;
						width: 100%;
						font-size: 13px;
						color: #FFFFFF;
						text-align: center;
						overflow:hidden; 
						text-overflow:ellipsis;
						display:-webkit-box; 
						-webkit-box-orient:vertical;
						-webkit-line-clamp:1;
					}
				}
			}
		}
	}
}

// 考考好友
.tanchuang_haoyou{
	width: 100%;
	height: 100%;
	background: rgba($color: #000000, $alpha: 0.7);
	position: absolute;
	left: 0px;
	top: 0px;
	div{
		width: 355px;
		height: 423px;
		position: absolute;
		top: 79px;
		left: 20px;
		img{
			width: 100%;
			height: 100%;
		}
		.btn{
			width: 160px;
			height: 54px;
			// background: red;
			position: absolute;
			top: 370px;
			left: 100px;
		}
	}
}