<template>
  <div v-if="bodyshow">
		<!-- 文案 -->
		<div class="content">
			<div class="text">{{getdatas.title}}</div>
			<div :class="item.checked ?'option_is':'option'" 
			@click="answer(index,getdatas.id,item.id)" v-for="(item,index) in getdatas.opts" :key="index">
				{{item.opt}}
				<form @submit="formSubmit" report-submit="true">
					<button form-type='submit'></button>
				</form>
			</div>
		</div>
		<div class="nextquestion">
			<!-- 考考好友 -->
			<div class="share">
				<img src="../../../static/images/datifenxiang.png" alt="">
				<form @submit="formSubmit" report-submit="true">
					<button class="share_two" @click="chu" form-type='submit'>考考好友</button>
				</form>
			</div>
			<!-- 下一题 -->
			<div class="question" @click="nextquestion()">
				<img src="../../../static/images/datixiayiti.png" alt="">
			</div>
		</div>
		<ad v-if="mpad" unit-id="adunit-ac861dd3616d0c6a"></ad>

		<!-- 弹窗 -->
		<div class="tanchuang" catchtouchmove=”preventTouchMove” v-if="tanshow">
			<cards @showbox="toshow" @xiayiti="nextquestion" :text="text" :tan_xiashow="tan_xiashow" :fanhuishouye="fanhuishouye"></cards>
		</div>
		<!-- 答题错误时的弹窗 -->
		<div class="tanchuang_cuowu" catchtouchmove=”preventTouchMove” v-if="bulletwindowquestions">
			<div class="text">
				<div class="text-one">回答错误</div>
				<div class="text-two">
					<div class="huidu" v-if="versionnumber && task_list.length != 0">恢复答题卡</div>
					<!-- 任务列表 -->
					<div class="tasklist" v-if="versionnumber && task_list.length != 0">
							<div class="tasklist-one" @click="Performtasks(task_list[0].play_sleep_time,task_list[0].id,task_list[0].is_completed,task_list[0].button_action,1003,true)">
								<!-- 任务图标 -->
								<div class="tasklist-left">
									<img :src="task_list[0].icon" alt="">
								</div>
								<!-- 任务描述 -->
								<div class="tasklist-center">
									<div class="tasklist-center-title">{{task_list[0].title}}</div>
									<div class="tasklist-center-desc">{{task_list[0].desc}}</div>
								</div>
								<!-- 任务按钮 -->
								<div class="tasklist-right">
									<div class="tasklist-right-img">
										<img src="../../../static/images/hong-bao.png" alt="">
									</div>
									<div v-if='task_list[0].is_completed == 0' class="tasklist-right-text">立即领取</div>
									<div v-if='task_list[0].is_completed == 1' class="tasklist-right-texts">已领取</div>
								</div>
						</div>
					</div>
					<!-- 下一题 -->
				<div class="xiayi" @click="nextquestion">下一题</div>
				</div>
				
			</div>
			<!-- 取消 -->
			<div class="quxiao" @click="open">
				<img src="../../../static/images/guanbi.png" alt="">
			</div>
		</div>
		<!-- 答题正确时的弹窗 && 任务全部完成-->
		<div class="tanchuang" catchtouchmove=”preventTouchMove” v-if="Nicknametanchuang && task_list.length == 0">
			<div class="User_windows">
				<div class="User_jine">{{monery}}</div>
				<div class="User_ka">你还有{{answercard}}张答题卡</div>
				<div class="User_queren" @click="nextquestion">确认</div>
			</div>
			<div class="quxaio" @click="quxiao">
				<img src="../../../static/images/guanbi.png" alt="">
			</div>
		</div>
		<!-- 答题正确时的弹窗 && 还有任务没有完成-->
		<div class="tanchuang_zhengque" catchtouchmove=”preventTouchMove” v-if="Nicknametanchuang && task_list.length != 0">
			<!-- " -->
			<div class="User_windowsone">
				<div class="User_jine">{{monery}}</div>
				<div class="User_ka" v-if="versionnumber">奖励翻倍，还送答题卡</div>
				<!-- 任务列表 -->
				<div class="tasklist" v-if="versionnumber">
						<div class="tasklist-one" @click="Performtasks(task_list[0].play_sleep_time,task_list[0].id,task_list[0].is_completed,task_list[0].button_action,1004,false)">
							<!-- 任务图标 -->
							<div class="tasklist-left">
								<img :src="task_list[0].icon" alt="">
							</div>
							<!-- 任务描述 -->
							<div class="tasklist-center">
								<div class="tasklist-center-title">{{task_list[0].title}}</div>
								<div class="tasklist-center-desc">{{task_list[0].desc}}</div>
							</div>
							<!-- 任务按钮 -->
							<div class="tasklist-right">
								<div class="tasklist-right-img">
									<img src="../../../static/images/hong-bao.png" alt="">
								</div>
								<div v-if='task_list[0].is_completed == 0' class="tasklist-right-text">立即领取</div>
								<div v-if='task_list[0].is_completed == 1' class="tasklist-right-texts">已领取</div>
							</div>
					</div>
				</div>
				<!-- 确认按钮 -->
				<div class="User_queren" @click="nextquestion">确认</div>
			</div>
			<div class="quxaio" @click="quxiao">
				<img src="../../../static/images/guanbi.png" alt="">
			</div>
		</div>

		<!-- 分享 -->
		<div class="tanchuang_haoyou" catchtouchmove="preventTouchMove" v-if="haoyou">
			<div>
				<img src="../../../static/images/jianjie.png" alt="">
				<div class="btn" @click="feng"></div>
			</div>
		</div>

  </div>
</template>

<script>
const app = getApp();
import sdk from '@/utils/sdk.js'
import api from '@/utils/api.js'
import request from '@/utils/request.js'
import cards from '@/components/card.vue'
import '@/utils/answerpage.scss'
var timetogoout = 0  //出去小程序的时间
var timetocomein = 0 //进入其他小程序需要停留时间
var Whethertogoout = false// 是否出去过
var qitaid = 0 // 其他小程序的id
var	Fromthebulletwindow = false; //从正确弹窗还是错误弹窗出去的 false 正确  true 错误
var t_imer
export default {
  components: {
	  cards
  },

  data () {
    return {
		monery:0,   // 答对题的奖励金额
		answercard:0,  //答题卡的数量
		getdatas:'', // 数据
	  tanshow:false, //弹窗是否显示
		Nicknametanchuang:true, // 答对题目的弹窗
		text:'',  //弹窗的文案
		tan_xiashow:false, //弹窗中的下一题是否显示
		shidudaguo:false,  // 是否请求提交答案接口
		bodyshow:false,  //页面是否显示
		result:[], // 分享数组

		fanhuishouye:false, // 返回首页的按钮
		//弹窗中加广告
		task_list:[], // 广告列表
		source:0,      //用户来源-0:自然用户 2:广告买量 3:接受邀请
		media:'', // 表示在广告买量的情况下的来源
		record_id:0, //记录id
		daanisno:0, //答案是否正确
		bulletwindowquestions:false, // 答错题目的弹窗
		versionnumber:false,

		mpad:false, //mp 广告是否显示

		haoyou:false,
    }
  },
	methods:{
		// 分享
		chu(){
			this.haoyou = true;
		},
		feng(){
			this.haoyou = false;
			var arr=[];
				arr.push('https://st.fcadx.cn/4f84b4922f4f56d9ed7b3716d8221372.jpg')
				wx.previewImage({
					urls: arr,
					success(){}
				})
		},
		// 收集formid
		formSubmit(e){
			request.post({
				url:api.create,
				data:{
					token:wx.getStorageSync('token'),
					formid:e.mp.detail.formId
				}
			}).then((res)=>{})
		},
		//下一题
		nextquestion(){
			app.aldstat.sendEvent("下一题", {type: "下一题"})
			this.tanshow = false;
			this.renwulist();
			this.Nicknametanchuang = false;
			this.bulletwindowquestions = false;
			if(this.answercard == 0){
				this.tanshow = true;
				this.text = '答题卡已用完,返回首页获取';
				this.tan_xiashow = false;
				this.fanhuishouye = true;
			}else{
				wx.showToast({
					title: '加载中',
					icon:'loading',
					duration:800,
					mask:true,
				});
				this.getdata();
			}
		},
		// 数据
		getdata(){
			request.get({
				url:api.view,
				data:{
					token:wx.getStorageSync('token'),
					type:2
				}
			}).then((res)=>{
				console.log(res)
				if(res.code == 200){
					this.getdatas = res.data
					for(var i= 0;i<this.getdatas.opts.length;i++){
						this.$set(this.getdatas.opts[i], 'checked', false)
					}
					this.shidudaguo = false;
				}
			})
		},
		// 获取分享的配置
		config(){
			request.get({
				url:api.config,
				data:{
					version:api.versionnumber,
					appid:api.appid,
					token:wx.getStorageSync('token')
				}
			}).then((res)=>{
				if(res.code == 200){
					console.log(res.data)
					this.result = JSON.parse(res.data.share);
					if(res.data.shareing == 'false'){
						this.versionnumber = false;
					}else{
						this.versionnumber = true;
					}
					if(res.data.mpad == 'false'){
						this.mpad = false;
					}else{
						this.mpad = true;
					}
				}
			})
		},
		// 答题
		answer(index,ID,id){
			if(this.shidudaguo == true){
				this.tanshow = true;
				this.text = '该题目已经答完';
				this.tan_xiashow = false;
			}
			for(var i= 0;i<this.getdatas.opts.length;i++){
				this.$set(this.getdatas.opts[i], 'checked', false)
				this.$set(this.getdatas.opts[index], 'checked', true)
			}
			if(this.shidudaguo == false){
				request.post({
					url:api.verify,
					data:{
						token:wx.getStorageSync('token'),question_id:ID,opt_id:id,
					}
				}).then((res)=>{
					console.log(res,"verify")
					if(res.code == 200){
						this.shidudaguo = true;
						this.answercard = res.data.card_num;
						this.text = '';
						this.monery = res.data.reward;
						if(res.data.is_correct == 0){ // 答案的正确与否
							this.bulletwindowquestions = true;
						}else{
							this.Nicknametanchuang = true;
							this.answercard = res.data.card_num;
							this.text = '';
							this.monery = res.data.reward;
							this.record_id = res.data.record_id;
							this.daanisno = res.data.is_correct;
						}
					}
				})
			}
		},
		// 弹窗出现时禁止滑动页面
		preventTouchMove:function(e) {},
		// 取消弹窗
		toshow(){
			let that = this;
			setTimeout(()=>{
				that.tanshow = false;
			},sdk.GetRandomNum(0,1500))
		},
		//取消答对题目的弹窗
		quxiao(){
			let that = this;
			setTimeout(()=>{
				that.Nicknametanchuang = false;
			},sdk.GetRandomNum(0,1500))
		},
		// 取消答错题目的弹窗
		open(){
			let that = this;
			setTimeout(()=>{
				that.bulletwindowquestions = false;
			},sdk.GetRandomNum(0,1500))
		},
		// 任务列表
		renwulist(){
			request.post({
				url:api.index,
				data:{
					token:wx.getStorageSync('token'),
					app_id:api.appid,
					type:0,
					adp_code:1000
				}
			}).then((res)=>{
				if(res.code == 200){
					this.task_list = res.data;
					for(var i=0;i<this.task_list.length;i++){
						if(Number(this.task_list[i].is_completed) == 1){
							this.task_list.splice(i, 1);
							i --;
						}
					}
				}
			})
		},
		// 执行任务时的监测
		Taskmonitoring(event,id,adpcode){
			let tms = '';
			let date = new Date();
			var y = date.getFullYear(),
			m = (date.getMonth()+1),
			d = date.getDate(),
			h = date.getHours();
			let nowDate = tms + y + (m<10? "0"+m : m) + (d<10? "0"+d : d) + (h<10? "0"+h : h);
			request.get({
				url:api.jiance,
				data:{
					name:api.appid,
					page:'index',
					event:event,
					source:this.source,
					media:this.media,
					object:'ad_' + id,
					user:wx.getStorageSync('invite_code'),
					tms:nowDate,
					ver:api.versionnumber,
					adpcode:adpcode
				}
			}).then((res)=>{})
		},
		// 执行任务
		Performtasks(time,id,is_completed,button_action,adpcode,Fromthebullet){
			this.Taskmonitoring('clk',id,adpcode)
			let that = this;
			if(is_completed == 0 ){
				let t = /(\w+):\/\/(\w+)([\w\/]*)[\?]?([\w=&\.%-]*)[#]?([\w]*)/.exec(button_action)
				if(t[4] == ''){
					var path = t[3]
				}else{
					var path = t[3] +'?'+ t[4]
				}
				if(t[1] == 'pic'){
					var arr=[];
					let en = decodeURIComponent(t['input'].slice(6));
					arr.push(en)
					wx.previewImage({
						urls: arr,
						success(){
							app.aldstat.sendEvent("广告点击", {type: "图片appid"});
							timetogoout = new Date().getTime()/1000;
							timetocomein = time;
							Whethertogoout = true;
							qitaid = id;
							Fromthebulletwindow = Fromthebullet;
							that.Taskmonitoring('submit',id,adpcode)
						}
					})
				}else{
					wx.navigateToMiniProgram({
						appId: t[2],
						path: path,
						success(res) {
							app.aldstat.sendEvent("广告点击", {type: "允许"});
							timetogoout = new Date().getTime()/1000;
							timetocomein = time;
							Whethertogoout = true;
							qitaid = id;
							Fromthebulletwindow = Fromthebullet;
							that.Taskmonitoring('submit',id,adpcode)
						},
						fail(){
							app.aldstat.sendEvent("广告点击", {type: "取消"});
							that.Taskmonitoring('cancel',id,adpcode)
						}
					})
				}
			}
		},
		// 任务完成提交
		Missionaccomplished(){
			request.post({
				url:api.completed,
				data:{
					token:wx.getStorageSync('token'),
					ad_id:qitaid,
					adp_code:1234
				}
			}).then((res)=>{
				if(res.code == 200){
					this.task_list[0].is_completed = 1;
					if(this.daanisno == 1){
						request.post({
							url:api.double,
							data:{
								token:wx.getStorageSync('token'),
								question_id:this.getdatas.id,
								record_id:this.record_id
							}
						}).then((res)=>{})
					}
				}
			})
		},
		// 金额翻倍的函数
		go(from){
				var step = from / 200;
				var to = from * 2;
				var i = 1;
				var o = setInterval(()=>{
						from += step;
						if (from > to) {
								from = to;
								clearInterval(o);
						}
						this.monery = from.toFixed(4);
						i++;
				}, 10)
		}
	},
	onLoad(options){
		this.answercard = options.answercard;
		wx.showToast({
			  title: '加载中',
			  icon:'loading',
			  duration:1000,
			  mask:true,
			});
		if(options.sc == undefined){
			this.source = 0;
		}else{
			this.source = options.sc;
		}
		if(options.md != undefined){
			this.media = options.md
		}
		this.task_list = []; // 广告列表
		this.fanhuishouye = false;
		this.bodyshow = false;
		this.tanshow = false;
		this.tan_xiashow = false;
		this.Nicknametanchuang = false;
		this.bulletwindowquestions = false;
		this.text = '';
		this.getdata();
		this.config();
		timetogoout = 0  //出去小程序的时间
		timetocomein = 0 //进入其他小程序需要停留时间
		Whethertogoout = false// 是否出去过
		qitaid = 0 // 其他小程序的id
		Fromthebulletwindow = false; //从正确弹窗还是错误弹窗出去的 false 正确  true 错误
		this.renwulist(); // 任务列表
		let that = this;
		setTimeout(()=>{
			that.bodyshow = true
		},1500)
	},
	onShow(){
		this.shidudaguo = false;
		if(Whethertogoout == true){
			if(new Date().getTime()/1000 - timetogoout > timetocomein){
				// console.log('条件满足')
				Whethertogoout = false;
				this.answercard = this.answercard + 1;
				this.Missionaccomplished();
				if(Fromthebulletwindow == false){
					this.go(Number(this.monery)); // 金额翻倍的函数
				}
			}else{
			// console.log('跳出时间不够')
				wx.showToast({
					title: '亲，需要授权体验'+ timetocomein +'秒才可领取哦',
					icon:'none',
					duration:1500,
					mask:true,
				});
				Whethertogoout = false;
			}
		}else{
			// console.log('没有跳出')
		}
	},
		// 分享
	onShareAppMessage(res){
		var num = sdk.GetRandomNum(0,this.result.length-1)
		app.aldstat.sendEvent("分享", {type: "考考好友"})
		return {
				title: this.result[num].title,
				imageUrl:this.result[num].img,
				path: '/pages/index/main?source='+ 3 +'&invite_code='+ wx.getStorageSync('invite_code'),
		}
	},
}
</script>
<style>
	page{
		background-image: url('https://st.fcadx.cn/5b543e618af739e975deedfc80efa93f.png');
		background-repeat:repeat;
		background-size: 100%;
	}
</style>
<style scoped lang="scss">
  	.content{
		width: 100%;
		box-sizing: border-box;
		padding: 30px 42px 0px 42px;
		.text{
			width: 100%;
			// font-size: 17px;
			font-size: 23px;
			color: #FFFFFF;
			margin-bottom: 35px;
			text-align: center;
		}
		.option{
			width: 200px;
			height: 45px;
			background: #FFA8DE;
			// margin: 0px auto 30px;
			margin: 0px auto 15px;
			border-radius: 23px;
			text-align: center;
			line-height: 45px;
			color: #fff;
			font-size: 22px;
			position: relative;
			button{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0px;
				left: 0px;
				opacity: 0;
			}
		}
		.option_is{
			width: 200px;
			height: 45px;
			background: #FC56BD;
			// margin: 0px auto 30px;
			margin: 0px auto 15px;
			border-radius: 23px;
			text-align: center;
			line-height: 45px;
			color: #fff;
			font-size: 22px;
			position: relative;
			button{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0px;
				left: 0px;
				opacity: 0;
			}
		}
	}
	.nextquestion{
		width: 100%;
		display: flex;
		justify-content: space-around;
		box-sizing: border-box;
		// padding: 35px 20px 0px 20px;
		padding: 15px 20px 0px 20px;
		margin-bottom: 30px;
		.share{
			width: 152px;
			height: 55px;
			position: relative;
			img{
				width: 100%;
				height: 100%;
			}
			button{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0px;
				left: 0px;
				opacity: 0;
			}
		}
		.question{
			width: 152px;
			height: 55px;
			img{
				width: 100%;
				height: 100%;
			}
		}
	}
	// 弹窗
	.tanchuang{
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.5);
	  position: absolute;
	  left: 0px;
	  top: 0px;
    }
	// 答对弹窗 && 任务全部完成
	.User_windows{
		width: 280px;
		height: 335px;
		background-image: url("https://st.fcadx.cn/7140f47246cf9ac7f1ba9a7e6b5467c5.png");
		background-size: 100% 100%;
		margin: 70px auto 0px;
		color: #fff;
		position: relative;
		font-size: 24px;
		.User_jine{
			width: 115px;
			position: absolute;
			left: 85px;
			top: 110px;
			text-align: center;
			color: red;
		}
		.User_ka{
			position: absolute;
			left: 90px;
			top: 150px;
			text-align: center;
			color: #d58e47;
			font-size: 14px;
		}
		.User_queren{
			width: 160px;
			height: 40px;
			position: absolute;
			opacity: 0;
			left: 60px;
			top: 240px;
			line-height: 40px;
			text-align: center;
		}
	}	
	.quxaio{
			width: 41px;
			height: 60px;
			margin: auto;
			img{
				width: 100%;
				height: 100%;
			}
		}
</style>
